In [ ]:
import pandas as pd

Hello, World!

In [ ]:
parks_data_df = pd.read_csv('https://raw.githubusercontent.com/melaniewalsh/responsible-datasets-in-context/main/datasets/national-parks/US-National-Parks_RecreationVisits_1979-2023.csv')

In [ ]:
parks_data_df.head()

    ParkName     Region State  Year  RecreationVisits
0  Acadia NP  Northeast    ME  1979           2787366
1  Acadia NP  Northeast    ME  1980           2779666
2  Acadia NP  Northeast    ME  1981           2997972
3  Acadia NP  Northeast    ME  1982           3572114
4  Acadia NP  Northeast    ME  1983           4124639

In [ ]:
parks_data_df['ParkName'].unique()

['Acadia NP' 'Arches NP' 'Badlands NP' 'Big Bend NP' 'Biscayne NP'
 'Black Canyon of the Gunnison NP' 'Bryce Canyon NP' 'Canyonlands NP'
 'Capitol Reef NP' 'Carlsbad Caverns NP' 'Channel Islands NP'
 'Congaree NP' 'Crater Lake NP' 'Cuyahoga Valley NP' 'Death Valley NP'
 'Denali NP & PRES' 'Dry Tortugas NP' 'Everglades NP'
 'Gates of the Arctic NP & PRES' 'Gateway Arch NP' 'Glacier Bay NP & PRES'
 'Glacier NP' 'Grand Canyon NP' 'Grand Teton NP' 'Great Basin NP'
 'Great Sand Dunes NP & PRES' 'Great Smoky Mountains NP'
 'Guadalupe Mountains NP' 'Haleakala NP' 'Hawaii Volcanoes NP'
 'Hot Springs NP' 'Indiana Dunes NP' 'Isle Royale NP' 'Joshua Tree NP'
 'Katmai NP & PRES' 'Kenai Fjords NP' 'Kings Canyon NP' 'Kobuk Valley NP'
 'Lake Clark NP & PRES' 'Lassen Volcanic NP' 'Mammoth Cave NP'
 'Mesa Verde NP' 'Mount Rainier NP' 'National Park of American Samoa'
 'New River Gorge NP & PRES' 'North Cascades NP' 'Olympic NP'
 'Petrified Forest NP' 'Pinnacles NP' 'Redwood NP' 'Rocky Mountain NP'
 'Saguaro NP' 'Sequoia NP' 'Shenandoah NP' 'Theodore Roosevelt NP'
 'Virgin Islands NP' 'Voyageurs NP' 'White Sands NP' 'Wind Cave NP'
 'Wrangell-St. Elias NP & PRES' 'Yellowstone NP' 'Yosemite NP' 'Zion NP']

In [ ]:
parks_data_df[parks_data_df['State'] == 'AK']

                          ParkName  Region State  Year  RecreationVisits
669               Denali NP & PRES  Alaska    AK  1979            251105
670               Denali NP & PRES  Alaska    AK  1980            216361
671               Denali NP & PRES  Alaska    AK  1981            256593
672               Denali NP & PRES  Alaska    AK  1982            321868
673               Denali NP & PRES  Alaska    AK  1983            346082
...                            ...     ...   ...   ...               ...
2643  Wrangell-St. Elias NP & PRES  Alaska    AK  2019             74518
2644  Wrangell-St. Elias NP & PRES  Alaska    AK  2020             16655
2645  Wrangell-St. Elias NP & PRES  Alaska    AK  2021             50189
2646  Wrangell-St. Elias NP & PRES  Alaska    AK  2022             65236
2647  Wrangell-St. Elias NP & PRES  Alaska    AK  2023             78305

[344 rows x 5 columns]

In [ ]:
parks_data_df.State.unique()

['ME' 'UT' 'SD' 'TX' 'FL' 'CO' 'NM' 'CA' 'SC' 'OR' 'OH' 'AK' 'MO' 'MT'
 'AZ' 'WY' 'NV' 'TN' 'HI' 'AR' 'IN' 'MI' 'KY' 'WA' 'AS' 'WV' 'VA' 'ND'
 'VI' 'MN']

In [ ]:
parks_data_df.dtypes

ParkName            object
Region              object
State               object
Year                 int64
RecreationVisits     int64
dtype: object

In [ ]:
parks_data_df.groupby('State')['ParkName'].nunique().reset_index()

   State  ParkName
0     AK         8
1     AR         1
2     AS         1
3     AZ         3
4     CA         9
5     CO         4
6     FL         3
7     HI         2
8     IN         1
9     KY         1
10    ME         1
11    MI         1
12    MN         1
13    MO         1
14    MT         1
15    ND         1
16    NM         2
17    NV         1
18    OH         1
19    OR         1
20    SC         1
21    SD         2
22    TN         1
23    TX         2
24    UT         5
25    VA         1
26    VI         1
27    WA         3
28    WV         1
29    WY         2