In [ ]:
import pandas as pd

In [ ]:
parks_data_df = pd.read_csv('https://raw.githubusercontent.com/melaniewalsh/responsible-datasets-in-context/main/datasets/national-parks/US-National-Parks_RecreationVisits_1979-2023.csv')

**1. What is the average number of visits for each state?**

In [ ]:
parks_data_df.groupby('State')['RecreationVisits'].mean().reset_index()

   State  RecreationVisits
0     AK            140087
1     AR           1409689
2     AS             14956
3     AZ           1855835
4     CA            989974
5     CO           1055443
6     FL            478797
7     HI           1300197
8     IN           1853265
9     KY           1293298
10    ME           2980293
11    MI             20125
12    MN            222293
13    MO           2416309
14    MT           2070991
15    ND            532145
16    NM            543457
17    NV             85377
18    OH           2195553
19    OR            486252
20    SC             99584
21    SD            817751
22    TN           9770010
23    TX            251496
24    UT           1162233
25    VA           1519811
26    VI            554547
27    WA           1495946
28    WV           1036167
29    WY           2791162

**2. What is the average number of visits for each National Park?**

In [ ]:
parks_data_df.groupby('ParkName')['RecreationVisits'].mean().reset_index()

                        ParkName  RecreationVisits
0                      Acadia NP           2980293
1                      Arches NP            881669
2                    Badlands NP           1021290
3                    Big Bend NP            321691
4                    Biscayne NP            462570
..                           ...               ...
58                  Wind Cave NP            614212
59  Wrangell-St. Elias NP & PRES             48571
60                Yellowstone NP           3097660
61                   Yosemite NP           3460200
62                       Zion NP           2647042

[63 rows x 2 columns]

**3.How many National Parks are there in each state?**

In [ ]:
parks_data_df.groupby('State')['ParkName'].nunique().reset_index()

   State  ParkName
0     AK         8
1     AR         1
2     AS         1
3     AZ         3
4     CA         9
5     CO         4
6     FL         3
7     HI         2
8     IN         1
9     KY         1
10    ME         1
11    MI         1
12    MN         1
13    MO         1
14    MT         1
15    ND         1
16    NM         2
17    NV         1
18    OH         1
19    OR         1
20    SC         1
21    SD         2
22    TN         1
23    TX         2
24    UT         5
25    VA         1
26    VI         1
27    WA         3
28    WV         1
29    WY         2